body { 
  font-family: 'JetBrains Mono', monospace;
  background-color: #1e1e2e; 
}

h1 {
  color: #cba6f7;
  text-align: center;
}

p {
  color: #cdd6f4
  text-align: center;
}

hr {
  border: none;
  background-color: #cba6f7;
}

a {
  color: #89dceb;
  text-decoration: none;
  text-align: center;
}

a:visited {
  color: #b4befe;
}

a:hover {
  color: #a6e3a1;
  text-decoration: underline;
}
